<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/style.css"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery/jquery-2.2.1.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/bootstrap-3.0.3.min.js"/><!--scroll to top start-->
        <link rel="stylesheet" href="../resources/js/scroll-to-top/css/ap-scroll-top.min.css"/>
        <script src="../resources/js/scroll-to-top/js/ap-scroll-top.min.js"/><!--scroll to top end -->
        <script type="text/javascript" src="$app-root/resources/js/custom.js"/><!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
                window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"index.html","theme":"dark-bottom"};
            </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"/><!-- End Cookie Consent plugin --><!--  Begin cool-share   -->
        <link rel="stylesheet" href="../resources/js/cool-share/plugin.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="../resources/js/cool-share/plugin.js"/><!--  End of cool-share  -->
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="toc.html">Table of Content</a>
                            </li>
                            <li>
                                <a href="../data/editions">API</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Indexes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="persons.html">Persons</a>
                            </li>
                            <li>
                                <a href="places.html">Places</a>
                            </li>
                            <li>
                                <a href="organisations.html">Organisations</a>
                            </li>
                            <li>
                                <a href="bibl.html">Literatur</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <form method="get" action="ft_search.html" class="navbar-form" id="pageform">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchexpr" placeholder="search in all inventories" pattern=".{3,}" required="" title="3 characters minimum"/>
                            </div>
                            <button type="submit" class="btn btn-primary">search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div id="content" class="container"/>
            <span class="socialShare"><!-- The share buttons will be inserted here --></span>
        </section>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="https://acdh.oeaw.ac.at/acdh/" class="navlink" target="_blank">
                            <img src="../resources/img/ACDH_kurz_Weiss.png" alt="ACDH" width="30%"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/csae8092/generic-de-web-app" class="navlink" target="_blank">
                            <img src="../resources/img/GitHub-Mark-Light-64px.png" alt="github" width="17%"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://exist-db.org/" class="navlink" target="_blank">
                            <img src="../resources/img/existdb.png" alt="eXist-db" width="30%"/>
                        </a>
                    </div>
                </div>
            </div>
            <script>
            $(document).ready(function(){
            var trigger = $('.linkedEntity');
            $(trigger).click(function(){
                var dataKey = $( this ).data('key');
                dataKey = dataKey.substring(1);
                var url = "entity-info.html?entityID="+dataKey
               console.log([url, dataKey]);
               // console.log(url);
            $('#loadModal').load(url, function(){
            $('#myModal').modal('show');
            });
            });
            });
        </script>
            <script type="text/javascript">
            $(window).load(function(){
            $('#myModal').modal('show');
            });
        </script>
            <script type="text/javascript">
                $(function (){
                  var options = {
                    twitter: {
                      text: '',
                      via: ''
                    },
                    facebook : true,
                    googlePlus : true
                  };
                $('.socialShare').shareButtons(options);
              });
            </script><!-- scroll-up-bottom -->
            <script type="text/javascript">
               // http://www.jqueryscript.net/animation/jQuery-Plugin-For-Fixed-Positioned-Scroll-To-Top-Button-ap-scroll-top.html
               // Setup plugin with default settings
               $(document).ready(function() {
                   $.apScrollTop({
                       'onInit': function(evt) {
                          // console.log('apScrollTop: init');
                       }
                   });
               });
            </script><!-- scroll-up-bottom end -->
        </footer>
    </body>
</html>